body {
    background-color: #f4f6f9;
}
.header {
    background-color: #4eb151;
    color: white;
    padding: 30px 0;
    text-align: center;
}
.container {
    margin-top: 30px;
}
.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}
.table-container {
    margin-top: 30px;
}
