body {
   
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    font-family: montserrat;
    background-color: #4CAF50;
    color: white;
    padding: 40px;
    text-align: center;
}


.container-fluid {
    padding: 2% 5%;
}
.card{
    font-family: ubuntu;
    padding: 10px;
}
.card:hover{
    transform: scale(1.005);
}
.card-header,.card-body{
    text-align: center;
}

.section h3 {
    margin-bottom: 20px;
    color: #4CAF50;
}
.logout-button{
    margin: 3rem;
    text-align: center;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
   
}