header {
    font-family: montserrat;
    background-color: #4CAF50;
    color: white;
    padding: 40px;
    text-align: center;
}
h2{
    text-align: center;
}
.login-container {
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     padding: 40px;
     max-width: 400px;
     width: 100%;
     margin-top: 80px;
     margin-bottom: 20px;
 }
 .depheader{
    margin-top: 100px;
    
 }
 .card{
    font-family: ubuntu;
    padding: 10px;
}
.card:hover{
    transform: scale(1.005);
}
.card-header,.card-body{
    text-align: center;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
   
}
.deplist{
    padding: 50px;
}
