body {
    background-color: #cacaca;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
   background: #4eb151;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    color: white;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.btn-custom {
    background-color: #007bff;
    color: #fff;
}

.btn-custom:hover {
    background-color: #0056b3;
}

.form-label {
    font-weight: bold;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
   
}