.container-fluid{
    padding: 1% 5% 1% 5%;
}
#Navigation{
    background-color: #87b77b;
    color: white;
}

.logo{
    width: 100px;
    height: 150px;
    margin-right: 20px;
    padding-top: 5px;   
}
.fa-solid{
    margin-left: 5px;
}

.navbar-brand{
    font-family: "ubuntu";
   font-size: 2rem;
   margin-right: 18%;
   padding-top: 2rem;
   color: white;
}
.log{
    font-weight: bold;
}
.d-flex{
    margin-left: 20px;
}
.nav-bnt{
    margin-right: 6px;
    color: white;
}
